Create a dataframe from a dictionary where the keys are the names of countries, the values are the gdp and indices are last 10 years. 
Now try to find the average gdp combined for all countries over past 10 years.

In [2]:
import pandas as pd 
import numpy as np

data = {"India":[1.2, 1.3, 1.7, 2.1, 2.4, 2.5, 2.7, 2.9, 3.0, 3.2], "US":[24.2, 24.4, 24.5, 24.6, 24.7, 24.8, 25.0, 25.1, 25.4, 25.6], "Aus":[1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0]}
print(data)

{'India': [1.2, 1.3, 1.7, 2.1, 2.4, 2.5, 2.7, 2.9, 3.0, 3.2], 'US': [24.2, 24.4, 24.5, 24.6, 24.7, 24.8, 25.0, 25.1, 25.4, 25.6], 'Aus': [1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0]}

In [3]:
df = pd.DataFrame(data, index = ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'])
df

      India    US  Aus
2014    1.2  24.2  1.1
2015    1.3  24.4  1.2
2016    1.7  24.5  1.3
2017    2.1  24.6  1.4
2018    2.4  24.7  1.5
2019    2.5  24.8  1.6
2020    2.7  25.0  1.7
2021    2.9  25.1  1.8
2022    3.0  25.4  1.9
2023    3.2  25.6  2.0

In [4]:
gdpavg = df.mean()
gdpavg

India     2.30
US       24.83
Aus       1.55
dtype: float64

In [5]:
avg = gdpavg.mean()

In [6]:
avg

9.56